.main {
  width: 800px;
  height: 70vh;
  background-color: purple;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery {
  background-color: black;
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex-direction: column;
  width: 150px;
}

.blog-post {
  background-color: blue;
  border: 1px solid black;
  flex: 1 1 0;
  margin: 5px;
  flex-direction: column;
}

.sidebar {
  background-color: purple;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 600px;
}
